$dark-blue: #464159;
$blue: #6c7b95;
$dark-ocean: #8bbabb;
$ocean: #c7f0db;
$red: #6b0000;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: $blue;
}
.delete{
    border: 0;
    background: $red;
    color: white;
    font-size: 1.5rem;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    transition: all .3s;
    &:focus{
        box-shadow:
            0 0 0 3px $ocean, 
            0 0 0 6px $red;
    }
}
#add-posts{
    width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 40px;
    margin: auto;
}
.post{
    position: relative;
    width: 400px;
    background: $ocean;
    padding: 10px 20px 20px 20px;
    border-radius: 3vh;
    box-shadow: 15px 15px 0 $dark-blue;
    margin-bottom: 5vh;
    h1{
        margin-bottom: 20px;
        font-size: 2.5rem;
        text-align: center;
    }
    p{
        font-size: 1.2rem;
        text-align: justify;
    }
    .edit-button{
        position: absolute;
        top: 10px;
        left: 20px;
        border: 0;
        background: $dark-blue;
        font-size: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 5px 0px 5px;
        border-radius: 1vh;
        color: white;
        font-weight: 900;
        cursor: pointer;
        transition: all .3s;
        outline: none;
        &:after{
            content: '';
            height: 10px;
            width: 40px;

        }
       
        &:focus{
            box-shadow:
                0 0 0 3px $ocean, 
                0 0 0 6px $blue;
        }

    }
}
.update-post{
    left: 20px;
}
#new, #edit{
    background: $blue;
    padding: 20px;
    border-radius: 10vh;
    width: 210px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}
#new{
    width: 220px;   
}
#edit{
    background: $ocean;
    color: $dark-blue;
}
.new-post{
    
    width: 400px;
    height: 400px;
    background: $dark-blue;
    position: fixed;
    top: 30px;
    right: 20px;
    border-radius: 2vh;
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    label{
        color: white;
        font-size: 2rem;
        font-weight: 900;
        text-transform: uppercase;
    }
    input[type=text]{
        font-size: 1.5rem;
        outline: none;
        padding: 5px 10px;
        border: 0;
        border-radius: 10vh;
        text-align: center;
        transition: all .5s;
        &:focus{
            box-shadow:
            0 0 0 5px $dark-blue, 
            0 0 0 10px $blue;
        }
    }
    button{
        border: 0;
        border-radius: 10vh;
        font-size: 2rem;
        width: 200px;
        padding: 10px 0;
        align-self: center;
        text-transform: uppercase;
        background: $ocean;
        color: $dark-blue;
        font-weight: 900;
        cursor: pointer;
        transition: all .5s;
        outline: none;
        &:focus{
            box-shadow:
            0 0 0 5px $dark-blue, 
            0 0 0 10px $blue;
        }
    }

}
.hidden{
    display: none;
}